/*NEWS ON HOMEPAGE

***************************************************************/

body{
    
   

}


div#news_hm{
	 height: 100px;
    width: 90%;
	margin-bottom:1000px;
}

div.he{
	
	margin-left: 100px;
	}


div.s{
	
	margin-bottom: 20px;
	
}
h1.ax{
	text-align:center;
}



div .des{
	text-align:justify;
	margin-left:40px;
}

span.aidanews2_text{
	color: #2D343E;
    font-family: 'Open Sans',sans-serif;
    font-size: 0.8em;
    font-weight: bold;
	
    margin-bottom: 3px;
	
	text-align:justify;
}

a.aidanews2_img1 img{

    padding: 5px;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
	float:left
}



div.news_hm div.aidanews2 .even, .aidanews2 .even{
	background-color: transparent!important;
}

.aidanews2_line{
	border: 0 none;
}







 

div#news_hm div.moduletable div.aidanews2 div.aidanews2_art div.aidanews2_positions div.aidanews2_main div.aidanews2_mainC h1.aidanews2_title{
	clear: both;
	display: block;
	line-height: 23px;
    margin-bottom: 3px;
}

div#news_hm div.moduletable div.aidanews2 div.aidanews2_art div.aidanews2_positions div.aidanews2_main h1.ax{
	
	text-align:center;
	clear: both;
	display: block;
	line-height: 23px;
    margin-bottom: 7px;
}

div#news_hm div.moduletable div.aidanews2 div.aidanews2_art div.aidanews2_positions div.aidanews2_main div.aidanews2_mainC{
	clear: both;

}



div#news_hm div.moduletable div.aidanews2 div.aidanews2_art div.aidanews2_positions div.aidanews2_main div.aidanews2_mainC h1.aidanews2_title a{
	color: #2D343E;
    font-family: 'Open Sans',sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 3px;
}

a.readon{
	
	margin-top: 15px;
	
}

div#news_hm div.moduletable div.aidanews2_bottomlink{
	display: none;
}






