/* media queries */
@media (max-width: 700px) {
    .container-form label.error {
        width: 90%;
    }

    .container-form button {
        width:90%;
    }
    .head-form{
        font-size: medium;
    }

  
.submit_btn_insert{
				margin-left: -15px !important ;
			}


}