         .my-label{
                font-family: sans-serif;
                font:'Arimo';
                font-size: 20px;
                color: white;
            }
            .browse{
                background-color: rgba(150,150,150, 0.5) !important;
                color: white;
                font-weight: bold;
            }
            .title-div-class{
                position: relative;
                margin-left: 449px auto !important;
                font-size: large auto;
                margin-top: 109px  !important;

            }
            .my-form-group{
                text-align: left !important;
                width: 150px auto !important;

            }
            .n-form{
                margin-top: -29px !important;
            }

            .n-container{

                width: 300px auto;
                margin-top: 10px !important;
                text-align: center !important;
                background: rgba(0, 0, 0, 0.4);
                height: auto;

            }
            .but-position{
                margin-left: 1069px auto;
                padding-bottom: 3px;

            }
            .my-text-field{
                width: 148% auto !important ;
            }

            .button {
                width: 125px !important;
                border: none;
                padding: 10px 28px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                font-weight: bold;
                margin: 4px 2px;
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
                cursor: pointer;
            }
            .button-my {
                background-color: white;
                color: #555555;
                border: 4px solid #555555;
            }
            .button-my:hover {
                background-color: #555555;
                color: #e7e7e7;
                border: 4px solid #e7e7e7;
            }
            .btn-group{
                margin-left: 920px auto;
                padding-bottom: 20px auto;

            }