@import 'https://fonts.googleapis.com/css?family=Chewy';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';


/*navbar1*/


.navbar1{
	background-color: #4c4743;
	margin-top: -0.75%;
	margin-left: -0.75%;
	margin-right: -0.75%;
	font-size: 15px;
}
.navbar-li > li > a{
	color: #ffffff !important; 
}
.header1 {
	font-family: 'Chewy', cursive;
	font-size: 50px;
}
.header2 {
	font-family: 'Source Code Pro', monospace;
}

/*overrides*/
.navbar-default .navbar-brand {
	color: #ffffff;
	padding-left: 60px;
	font-size: 30px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #a79e9e;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
	margin-top: 20px;
	margin-bottom: 7px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color: #ffffff;
}
/*/overrides*/




/*navbar2*/

.navbar2{
	background-color:#ffffff;
	border-color: #ffffff;
	font-size: 20px;
	color: #000000; 
}
.dropdwncustom{
	background-color: #ffffff;
}

.list > li {
	padding-left: 86px;
	color: #000000;
}
.list > li > a {
	font-style: italic;
	font-weight: bold;
	color: #000000 !important;
}
.list{
	padding-left: 95px;
}
.menu > li > a{
	padding-top: 15px;
}
.menu{
	position: inherit;
	border-radius: 9px;
    position: absolute;
    left: 100px;
}


/*Overrides*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #ffffff;
}


/* /Overrides*/



/*side nav*/

.list-of-content {
	margin-top: 40px;
}
.list-container{
	background-color: #4c4743;
	margin-top: -26px;
	height: 3000px;
}
.a {
	color: #000000;
}
.list-of-content >li > a {
	color: #ffffff;
}
.list-of-content >li > a:focus, .list-of-content >li > a:hover {
	background-color: #c16d28
}

.profile-picture {
	border-style: solid;
	border-radius: 50%;
	width: 130px;
	height: 130px;
	margin: auto;
	margin-top: 15px;
}